/*
 * Styled Components v4 has an issue with loading fonts.
 * Using direct CSS to import instead.
 * https://github.com/styled-components/styled-components/issues/1593
 */

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/avenir-next/regular.woff) format('woff'),
  url(./fonts/avenir-next/regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/avenir-next/demi.woff2) format('woff2'),
  url(./fonts/avenir-next/demi.woff) format('woff'),
  url(./fonts/avenir-next/demi.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/avenir-next/bold.woff2) format('woff2'),
  url(./fonts/avenir-next/bold.woff) format('woff'),
  url(./fonts/avenir-next/bold.ttf) format('truetype');
}